<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueshushu.learn.extension.mapper.ExtFastingDoMapper">
    <resultMap id="customerMapper" type="top.yueshushu.learn.extension.domain.ExtFastingDo">
        <result property="id" column="id"></result>
        <result property="type" column="type"></result>
        <result property="fastingMonth" column="fasting_month"></result>
        <result property="fastingDay" column="fasting_day"></result>
        <result property="jieQi" column="jie_qi"></result>
        <result property="fastingReason" column="fasting_reason"></result>
        <result property="damage" column="damage"></result>
        <result property="notes" column="notes"></result>
    </resultMap>
    <sql id="baseSql">
        id,`type`,fasting_month,fasting_day,jie_qi,fasting_reason,damage,notes
    </sql>
    <select id="getByMonthAndDayAndTerm" resultMap="customerMapper">
        select
        <include refid="baseSql"/>
        from ext_fasting t
        <where>
            <if test="month != null and day != ''">
                and (
                t.fasting_month =#{month} and t.fasting_day =#{day}
                )
            </if>
            <if test="term != null and term != ''">
                or t.jie_qi =#{term}
            </if>
        </where>
        order by t.id asc
        limit 1
    </select>
</mapper>
