<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueshushu.learn.mapper.TradeMoneyHistoryDoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.yueshushu.learn.domain.TradeMoneyHistoryDo">
        <id column="id" property="id"/>
        <result column="curr_date" property="currDate"/>
        <result column="total_money" property="totalMoney"/>
        <result column="use_money" property="useMoney"/>
        <result column="market_money" property="marketMoney"/>
        <result column="takeout_money" property="takeoutMoney"/>
        <result column="profit_money" property="profitMoney"/>
        <result column="user_id" property="userId"/>
        <result column="mock_type" property="mockType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id,
            curr_date,
            total_money,
            use_money,
            market_money,
            takeout_money,
            profit_money,
            user_id,
            mock_type
    </sql>
    <select id="listMoneyHistory" resultType="top.yueshushu.learn.domain.TradeMoneyHistoryDo">
        select
        <include refid="Base_Column_List"/>
        from trade_money_history t
        where t.user_id=#{userId}
        and t.mock_type = #{mockType}
        <if test="startDate!=null">
            and date_format(curr_date,'%Y%m%d') &gt;=date_format( #{startDate,jdbcType=TIMESTAMP},'%Y%m%d')
        </if>
        <if test="endDate!=null">
            and date_format(curr_date,'%Y%m%d') &lt;=date_format( #{endDate,jdbcType=TIMESTAMP},'%Y%m%d')
        </if>
        order by t.curr_date desc
    </select>

    <select id="getLastRecord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from trade_money_history t
        where t.user_id=#{userId}
        and t.mock_type = #{mockType}
        and date_format(curr_date,'%Y%m%d') &lt; date_format( #{currDate,jdbcType=TIMESTAMP},'%Y%m%d')
        order by t.curr_date desc
        limit 1
    </select>
</mapper>
